@import "https://fonts.googleapis.com/css2?family=Coming+Soon&family=Lobster&display=swap";

.darkmode--activated {
  color: white;
}

.darkmode--activated tr:nth-child(even) {
  background-color: yellow;
  color: black;
}

main {
  font-family: "Coming Soon", cursive;
  position: relative;
  top: 100px;
  display: grid;
  grid-gap: 35px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;

  #boardDisplay {
    justify-self: end;
    width: 350px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;

    #boardTitle {
      position: absolute;
      top: -90px;
      font-size: xx-large;
    }

    #refreshDiv {
      justify-self: center;
      align-self: center;
    }

    #table {
      grid-row: 2 / 3;
      grid-column: 1 / 3;
      border-collapse: collapse;
      width: 350px;

      td {
        border: 1px solid #ddd;
        padding: 8px;
      }

      th {
        border: 1px solid #ddd;
        padding: 8px;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #a092f0;
        color: white;
      }

      tr {
        &:nth-child(even) {
          background-color: #f2f2f2;
        }

        &:hover {
          background-color: #ddd;
        }
      }
    }
  }

  #boardForm {
    justify-self: start;

    #scoreForm {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      grid-gap: 25px;

      #nameInput {
        grid-row: 1 / 2;
        grid-column: 1 / 3;
      }

      #scoreInput {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
      }

      #submitBtn {
        grid-row: 3 / 4;
        grid-column: 2 / 3;
      }
    }

    #errors {
      color: rgb(255, 0, 0);
      font-size: large;
    }
  }
}
